<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>RedMed</string>
	<key>CFBundleDisplayName</key>
	<string>RedMed</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>

	<!-- PERMISSIONS -->
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>RedMed uses your location to give 911 your exact GPS coordinates in an emergency.</string>
	<key>NFCReaderUsageDescription</key>
	<string>RedMed reads and writes your emergency medical data to your NFC bracelet.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>RedMed uses Face ID to protect your medical data before writing to your bracelet.</string>

	<!-- NFC TAG TYPES -->
	<key>com.apple.developer.nfc.readersession.formats</key>
	<array>
		<string>NDEF</string>
	</array>
</dict>
</plist>
